.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  perspective: 800px;
}

.slider img {
  border-radius: 5%;
  border: 2px solid rgb(87, 87, 165);
  transition: transform 0.3s ease;
}
.slider img:hover {
  transform: translateZ(100px);
  border: 2px solid yellow;
}
.img {
  perspective: 800px;
}
.img img {
  border-radius: 5%;
  border: 2px solid rgb(87, 87, 165);
  transition: transform 0.3s ease;
}
.img img:hover {
  transform: translateZ(100px);
  border: 2px solid yellow;
}
Link a {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.navbar-brand {
  font-size: 50px;
  font-weight: 500;
}
.nav-link {
  font-size: 20px;
  color: white !important;
  font-weight: 500;
}
.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

@media only screen and (max-width: 600px) {
  .recipe-details {
    display: block !important;
  }
  .content {
    width: auto !important;
  }
}
